name: Secure Secrets in CI/CD

on:
  push:
    branches:
      - main

jobs:
  gitleaks:
    name: Scan for Secrets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: >
            detect
            --source=.
            --report-path=gitleaks-report.json
            --verbose
